* {
    margin: 0;
    padding: 0;
}

ul {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

ul li {
    display: inline;
    font-size: 25px;
    margin: 40px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

form input {
    display: inline;
}

#youtube {
    text-align: center;
    margin-top: 180px;
    padding-bottom: 160px;
}

#logos {
    margin-top: 130px;
    border-style: dotted;
    border: 10px black;
}

.cuerpo {
    background-color: black;
    
}

.paddingTitle{
    padding-bottom: 30px;
}

.encabezado {
    margin: 9px;
    padding-left: 30px;
    color: gainsboro;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    font-weight: 100;
}

.ContenedorForm{
    padding-top: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: goldenrod;
    font-size: 20px;
}

.contenedor__lista{
    padding-left: 230px;
}

.contenedor__lista2{
    padding-left: 100px;
}

.contenedor__lista3{
    padding-left: 80px;
}

.contenedor__lista4{
    padding-left: 50px;
}

.listas1 {
    padding-top: 30px;
    text-align: left;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.listas2 {
    display: block;
    font-size: 25px;
    margin: 40px;
}


.font1 {
    font-family: 'Oswald', sans-serif;
    color: gainsboro;
}

.font2 {
    font-family: 'Oswald', sans-serif;
    color: black;
}

.font3 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Oswald', sans-serif;
    
}

.font4 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Oswald', sans-serif;
    color: goldenrod;
}

.font5 {
    font-size: 30px;
}


.subtitulo {
    padding-left: 0px;
    padding-top: 180px;
    padding-bottom: 50px;
    font-size: 27px; 
}

.subtitulo2 {
    font-size: 37px;
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
}

.subtitulo3 {
    font-size: 37px;
    padding-top: 80px;
    padding-bottom: 35px;
    padding-right: 15px;
    text-align: center;
}

.subtitulo4 {
    font-size: 37px;
    padding-top: 80px;
    padding-bottom: 35px;
    padding-right: 10px;
    text-align: center;
}

.subtitulo5 {
    font-size: 37px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    text-align: center;
}

.subtitulo6{
    padding: 70px 20px 55px 0px;
}

.contenedor__textArea {
    padding-left: 87px;
}

.flexin{
    display: flex;
}

.contenedor__linea{
    display: inline;
}

.textfix{
    margin-left: 100px;
}

.text__left{
    text-align: left;
}

.contenedor__logo {
    padding: 0px 150px 0px 150px;
}

.logo{
    text-align: center;
    margin-top: 68px;
    padding-right: 25px;
    border: 10px black;
}

.logo2{
    background-color: black;
    padding: 50px 0px 50px 0px;
    text-align: center;
    border: 10px black;
    border-style: dotted;
}


.fondo {
    height: 950px;
    background-image: url("../images/NFH1.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: 1690px;
    
}

.fondoBio {
    height: 950px;
    background-image: url("../images/imgbio.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: 1690px;
    
}

.background1 {
    background-color: black; border: black;
}

.backgroundForm {
    background: antiquewhite;
}



.contenedorParrafo{
    display: inline;

}

.contenedor__parrafo1{
    text-align: justify;
    margin: 0px 300px 100px 150px;
    font-size: 40px;
}

.contenedor__parrafo2{
    margin: 0px 0px 0px 220px;
    text-align: justify;
    padding: 140px 80px 0px 0px;
    font-size: 24px;
}
.contenedor__parrafo3{
    text-align: justify;
    margin: 200px 200px 100px 150px;
    font-size: 20px;
}

.contenedor__parrafo4{
    margin: 140px 175px 100px 150px;
}

.contenedor__parrafo5{
    color: gainsboro;
    margin: 0px 0px 0px 0px;
    padding: 10px 300px 0px 350px;
    font-size: 25px;
    text-decoration-color: black;    
}

.contenedor__parrafo6 {
    padding: 30px 0px 0px 0px;
}

.contenedor__parrafo7 {
    padding: 127px 42px 0px 362px;
}

.contenedor__parrafo8 {
    padding: 70px 50px 0px 0px; 
    background: black; 
    margin-bottom: 190px;
}

.contenedor__parrafo9 {
    margin-right: 20px;
}

.contenedor__parrafo10 {
    padding: 70px 20px 10px 0px;
}

.contenedor__parrafo11 {
    padding: 0px 24px 0px 0px;
}

.redondeado{
    border-radius: 8px
}

.imageSize{
    width: 350px;
}

.contenedor__imagen1 {
    margin: 200px 750px 200px 200px;
}

.contenedor__imagen2 {
    margin: 200px 150px 50px 200px;
    padding-left: 50px;
}

.contenedor__imagen3 {
    padding: 80px 100px 100px 100px;
}

.contenedor__imagen4 {
    /* border-style:solid; */
    margin-left: 157px;
    padding: 80px 100px 100px 100px;
}

.contenedor__imagen5 {
    /* border-style:solid; */
    padding-top: 100px; text-align: center; padding-right: 23px;
}

.contenedor__imagen6 {
    /* border-style:solid; */
    padding: 0px 25px;
}

.contenedor__imagen7 {
    padding-top: 100px; 
    text-align: center; 
    padding-right: 23px; 
    padding-bottom: 100px;
}

.foot {
    background-color: white;
    padding: 50px 0px 50px 0px;
    text-align: center;
    border: 10px black;
    border-style: dotted;
}




